<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SenseSight.ai - Get Started</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<div class="main-container" style="margin-top: 0px">
    <section class="section" id="home">
        <div class="content">
            <div class="text-container">
                <h1>SenseSight</h1>
                <p>
                    SenseSight.ai is a revolutionary platform designed to assist visually impaired individuals in
                    understanding and interacting with their surroundings. By harnessing cutting-edge AI technology,
                    SenseSight detects objects, identifies obstacles, and provides real-time insights about the
                    environment.
                </p>
                <button class="button"><a href="/login"><b>Get Started</b></a></button>
            </div>
            <div class="image-container">
                <img src="../static/images/blind_1.jpg" alt="AI Illustration">
            </div>
        </div>
    </section>
</div>
</body>
</html>